In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data=np.random.randint(99999, 99999999, size=(10000000,14)),
    columns=['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14'])
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,11698985,33850934,31040153,6429927,79023476,48072112,41154500,19871487,91890268,70260703,49444497,76882107,13952214,50710199
1,76436722,32909842,41802963,68183985,81326310,62878454,30619396,23247744,46887270,59863074,92250002,6789536,53051296,81477862
2,70947377,86132646,26191232,57067679,63027266,65211833,10988182,78528248,90657505,19466112,37788152,47345475,81561660,94538508
3,26213349,40449906,27369580,18328508,71545108,72350661,80573000,24046723,18041623,78595481,86149646,58509324,85006070,14136372
4,76416724,64866797,7953493,34907073,2729448,48507182,36325426,12191410,28485851,39653006,7598369,71350217,61491493,28719750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,29504730,76281334,81761789,22996785,7270041,79156002,39010428,59358401,69484437,59361386,91974122,47981543,15646268,40721070
9999996,56761744,18851727,57711694,66545938,29370045,38120301,70164148,56563762,62771429,5873856,94309679,89133617,52336429,37978963
9999997,99301461,1789513,11238829,17299262,14814502,28046284,42901914,51155425,33360968,50479018,46682547,51799382,2672014,26563072
9999998,37867443,63653038,30024624,97143355,6498950,80360535,68484741,40045666,72732848,40096518,78781650,38767611,44570738,64048308
9999999,93179280,4806673,50379555,75552834,34351607,70751544,44586394,53253305,21642781,82709132,75029988,56186303,36627909,78056679

In [2]:
df['C15'] = pd.util.testing.rands_array(5,10000000)
df.to_csv("huge_data.csv",index=False)

/home/pradeep.k@zucisystems.com/.local/share/virtualenvs/DataAnalysis-7lrpAe9F/lib/python3.8/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [3]:
import time
start = time.time()
df = pd.read_csv('huge_data.csv')
end = time.time()
print("Read csv without chunks: ",(end-start),"sec")

Read csv without chunks:  13.042296886444092 sec

In [4]:
df.head(1)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15
0,11698985,33850934,31040153,6429927,79023476,48072112,41154500,19871487,91890268,70260703,49444497,76882107,13952214,50710199,xrRV9

In [5]:
df.shape

(10000000, 15)

In [6]:
start = time.time()
#read data in chunks of 10 million rows at a time
chunkdf = pd.read_csv('huge_data.csv',chunksize=100000)
end = time.time()
print("Read csv with chunks: ",(end-start),"sec")
# pd_df = pd.concat(chunk)

Read csv with chunks:  0.0025081634521484375 sec

In [7]:
from pprint import pprint
chunkdf

In [8]:
pprint(chunkdf)

<pandas.io.parsers.readers.TextFileReader object at 0x7fceaeaf8a30>

In [9]:
a=0
for i in chunkdf:
    a+=1
    pprint(i.shape)
print(a)
#     break

(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
(100000, 15)
100